html{
  width: 70%;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #171717;
  color: #ffffff;
}


section {
  padding: 50px;
}

h1, h2, h3 {
  color: #ffffff;
}

#home {
  background-color: #171717;
}

#about {
  background-color: #171717;
}

#portfolio {
  background-color: #171717;
}

.project {
  margin-bottom: 20px;
}

#contact {
  background-color: #333333;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
