<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> -->
    <title>Inventory System</title>
</head>
<body>
  <div class="menu">

  </div>
  <div class="main">

    <div class="inventory-list">
      <h1>Assets</h1>
        <div class="inventory-item">
            <h3 class="item-title">Laptops</h3>
            <p class="item-quantity">50 items</p>
        </div>
        <div class="inventory-item">
            <h3 class="item-title">Printers</h3>
            <p class="item-quantity">20 items</p>
        </div>
        <div class="inventory-item">
            <h3 class="item-title">Printers</h3>
            <p class="item-quantity">20 items</p>
        </div>
        <div class="inventory-item">
            <h3 class="item-title">Printers</h3>
            <p class="item-quantity">20 items</p>
        </div>
        <div class="inventory-item">
            <h3 class="item-title">Printers</h3>
            <p class="item-quantity">20 items</p>
        </div>
        <div class="inventory-item">
            <h3 class="item-title">Add </h3>
            <p class="item-quantity">20 items</p>
        </div>
        <!-- Add more inventory items here -->
    </div>
  </div>

</body>
</html>
